 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding-top: 110px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 50px;
}

/* default input field */

.inputField{
    background-color: rgba(255, 255, 255, .15);  
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .1);
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

/* normal button */

.btn{
    font-size: 15px;
    color: black;
    background-color: #afec9d;
}

.btn:hover{
    background-color: #CFF0C5;
    cursor: pointer;
}

/* button danger */
.btn-danger{
    font-size: 15px;
    color: black;
    background-color: #f03c3c;
}

.btn-danger:hover{
    background-color: #eb6a6a;
    cursor: pointer;
}

/* button warning */
.btn-warning{
    font-size: 15px;
    color: black;
    background-color: #eaee10;
}

.btn-warning:hover{
    background-color: #e9eb72;
    cursor: pointer;
}

.space{
    padding-left: 3px;
}

.error-message{
	padding-bottom: 10px;
    color: red;
}

.main-page-links{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.main-page-links:hover{
    color: rgb(43, 43, 43);
}

.dashboard-table-heading{
    padding-bottom: 25px;
}

/* https://stackoverflow.com/questions/4932181/rounded-table-corners-css-only */

table{
    border: 2px solid #ddd;
    width: 100%;
    border-collapse: separate;
    border-left: 0;
    border-radius: 5px;
    border-spacing: 1px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td {
    padding: 5px; 
    text-align: left;
    vertical-align: top;
    border-left: 2px solid #ddd;    
}

td {
    border-top: 2px solid #ddd;    
}

/* table edit/schedule delete button */

.a-btn{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* remove textarea resizing */
textarea{
    resize: none;
}

/* alert box design by using bootstrap danger theme*/
/* https://gist.github.com/EvanHerman/315952ebf371cb83ee9db6c54499933d */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-danger {
    background-color: #f0bebe;
    border: 1px solid#ebccd1;
    color: #a94442;
}

.alert-success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}


/* placeholder color change */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(39, 39, 39);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgb(39, 39, 39);
}

.note{
    color: red;
    font-weight: bold;
    margin: 20px;
    margin-top: 0;
}

.a-remove{
    text-decoration: none;
    color: green;
}