.first-row, .second-row, .third-row{
	padding-bottom: 10px;
}

.forgot-pass-form{
	width: 350px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.forgot-pass-form h1{
	padding-bottom: 20px;
	text-align: center;
	font-size: 30px;
}

.forgot-pass-form input[type=text], input[type=password]{
	padding: 15px;
	margin-bottom: 10px;
	width: 100%;
}

.forgot-pass-form input[type=submit]{
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}

.forgot-pass-form .second-row a{
	float: right;
}

.forgot-pass-form .second-row input[type=checkbox]{
	float: left;
}

.forgot-pass-form .third-row{
	text-align: center;
}

.login-invalid{
	color: red;
}