.container .add-package-container{
    width: 600px;
}

.first-row{
    padding-bottom: 20px;
}

.add-package-container input[type=text], textarea{
	padding: 15px;
	margin-bottom: 10px;
	width: 100%;
}

.add-package-container input[type=submit]{
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}

.update-package-container input[type=text], textarea{
	padding: 15px;
	margin-bottom: 10px;
	width: 100%;
}