ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f1f1;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s;
}

li a:hover {
    background-color: rgba(160, 63, 63, 0.2);
}